{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="{% static 'scripts/base.js' %}"></script>
<script src="{% static 'scripts/csrf.js' %}"></script>
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}

{% block main_content %}

<div class="authentication">

    <span><b>Enter Your Voter Card Number</b></span>
    <br>
    <div class="input-section">
        <input type="text" placeholder="eg. ABC1234567" class="input-text" id="voter" autocomplete="off">
        <button type="submit" class="submit" onclick="submit_voter()">Verify</button>
    </div>

</div>

{% endblock %}